<!-- All work is our own -->
<html>

<head>
    <title>Supernatural Wardrobe</title>
    <link href="../static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header"> <img src="../static/img/ghostface.png" alt="logo" />
        <h1>Supernatural Wardrobe</h1>
    </div> 
    <!-- navigation buttons -->
    <a href='/' class='button'>Home Page</a>
    <a href='costumes' class='button'>Costumes</a>
    <a href='themes' class='button'>Themes</a>
    <a href='inventory' class='button'>Inventory</a>
    <a href='companies' class='button'>Companies</a>
    <a href='orders' class='button'>Orders</a>
    <a href='costume_orders' class='button'>Costume Orders</a>
    <br><br>

    <p2><b>Supernatural Wardrobe</b> is a distribution center for Halloween costumes. Consumers spend billions of dollars each
        year on Halloween costumes. We supply Halloween costumes to over 500 franchise companies with a large selection
        of costumes by allowing them to search through our inventory and purchase costumes in bulk. We make an estimated
        revenue of $1.2 billion in sales. On average each company orders 100 units that contain over 5,000 costumes.
        Each costume is categorized by theme allowing companies to order multiple costumes in bulk. A database will
        allow us to record each order to keep track of our supply chain and order fulfillment. The database will also
        allow us to keep track of inventory and the companies we work with for a more streamlined process.</p2>
    <br><br>
        
    <p1><b>costumes:</b> An entity to store data of costumes</p1>
    <br>
    <p1><b>themes:</b> An entity to store data of costume themes</p1>
    <br>
    <p1><b>inventory:</b> An entity to store data of costume inventory</p1>
    <br>
    <p1><b>companies:</b> An entity to store data of company contact details</p1>
    <br> 
    <p1><b>orders:</b> An entity to store data of all costume orders</p1>
    <br>
    <p1><b>costume_orders:</b> An intersection table to store data of costume orders by order ID</p1>
    <br>

    <footer><p3> &#169;  2022 Alexa Castro & Carolina Rodriguez</p3></footer>
        
</body>

</html>